*{
    margin: 0;
    padding: 0;
}
header{
    background-color: darkslategray;
    height: 60px;
    padding: 20px;
    color: mediumspringgreen;
    
}
header h1 {
    font-size: 25px;
    font-family: Monaco;
}
#menu{
    float: center;
    margin-top: 2px;
    background-color: whitesmoke;
}
#menu a {
    padding: 5px;
    text-decoration: none;
    color: darkslategray;
    text-shadow: 1px, 1px, #111111;
    font-size: 20px;
    font-family: "Helvetica Neue", "Helvetica";
}
#menu a:hover{
    background-color: greenyellow;
    color: blue;
}
#table{
    margin-top: 50px;
}
#reg{
    margin-top: 40px;
}