*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(22, 57, 231);
    height: 60px;
    padding: 20px;
    color: rgb(165, 241, 244);
    
}
header h1 {
    font-size: 25px;
    font-family: Monaco;
    font-weight: bold;
}
#menu{
    float: center;
    margin-top: 2px;
    background-color: white;
}
#menu a {
    padding: 5px;
    text-decoration: none;
    color: darkslategray;
    text-shadow: 1px, 1px, #111111;
    font-size: 20px;
    font-family: "Helvetica Neue", "Helvetica";
}
#menu a:hover{
    background-color: white;
    color: rgb(42, 32, 240);
    font-weight: bold;
}
#table{
    margin-top: 50px;
}
#reg{
    margin-top: 40px;
}